# Ignore everything ...
*
*/
# ... except this file ...
!.gitignore
# ... __init__ file of this package ...
!__init__.py
# ... abastract subpackage ...
!abstract/
!abstract/*
abstract/*~
abstract/*.bak
abstract/*.pyc
!abstract/*/
!abstract/*/*
abstract/*/*~
abstract/*/*.bak
abstract/*/*.pyc
# ... basic subpackage ...
!basic/
!basic/*
basic/*~
basic/*.bak
basic/*.pyc
!basic/*/
!basic/*/*
basic/*/*~
basic/*/*.bak
basic/*/*.pyc
# ... common subpackage ...
!common/
!common/*
common/*~
common/*.bak
common/*.pyc
!common/*/
!common/*/*
common/*/*~
common/*/*.bak
common/*/*.pyc
# ... dolfin subpackage ...
!dolfin/
!dolfin/*
dolfin/*~
dolfin/*.bak
dolfin/*.pyc
!dolfin/*/
!dolfin/*/*
dolfin/*/*~
dolfin/*/*.bak
dolfin/*/*.pyc
# ... online subpackage ...
!online/
!online/*
online/*~
online/*.bak
online/*.pyc
!online/*/
!online/*/*
online/*/*~
online/*/*.bak
online/*/*.pyc
# ... online/numpy subpackage ...
!online/numpy/
!online/numpy/*
online/numpy/*~
online/numpy/*.bak
online/numpy/*.pyc
!online/numpy/*/
!online/numpy/*/*
online/numpy/*/*~
online/numpy/*/*.bak
online/numpy/*/*.pyc
