# Ignore everything ...
*
*/
# ... except this file ...
!.gitignore
# ... __init__ file of this package ...
!__init__.py
# ... abastract subpackage ...
!abstract/
!abstract/*
abstract/*~
abstract/*.bak
abstract/*.pyc
!abstract/*/
!abstract/*/*
abstract/*/*~
abstract/*/*.bak
abstract/*/*.pyc
# ... basic subpackage ...
!basic/
!basic/*
basic/*~
basic/*.bak
basic/*.pyc
!basic/*/
!basic/*/*
basic/*/*~
basic/*/*.bak
basic/*/*.pyc
# ... fenics subpackage ...
!fenics/
!fenics/*
fenics/*~
fenics/*.bak
fenics/*.pyc
!fenics/*/
!fenics/*/*
fenics/*/*~
fenics/*/*.bak
fenics/*/*.pyc
# ... numpy subpackage ...
!numpy/
!numpy/*
numpy/*~
numpy/*.bak
numpy/*.pyc
!numpy/*/
!numpy/*/*
numpy/*/*~
numpy/*/*.bak
numpy/*/*.pyc
# ... online subpackage ...
!online/
!online/*
online/*~
online/*.bak
online/*.pyc
!online/*/
!online/*/*
online/*/*~
online/*/*.bak
online/*/*.pyc
