# Ignore everything ...
*
*/
# ... except this file ...
!.gitignore
# ... __init__ file of this package ...
!__init__.py
# ... basic subpackage ...
!basic/
!basic/*
basic/*~
basic/*.bak
basic/*.pyc
!basic/*/
!basic/*/*
basic/*/*~
basic/*/*.bak
basic/*/*.pyc
# ... numpy subpackage ...
!numpy/
!numpy/*
numpy/*~
numpy/*.bak
numpy/*.pyc
!numpy/*/
!numpy/*/*
numpy/*/*~
numpy/*/*.bak
numpy/*/*.pyc
